# **AAMC Table A-1 (MD schools) and Table B-8 (MD/PhD schools) Analysis**

### Importing the required packages

In [1]:
import glob
import pandas as pd 
import numpy as np
import datetime as datetime
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# **Table A-1 (MD schools)**

## Setting the main file directory, importing, and cleaning every Table A-1

In [2]:
def cycle_generator(df_path, head, foot, colnames, year):
    """
    Function to parse a df_path containing an AAMC table.
    Supply the row number for the header (contains "State and Medical School"), footer (row number of the "Totals"), column names, and year.
    Returns a cleaned AAMC table A-1 or B-8 df or a totals df. 
    """
    # Reading in the excel file, assigning column names, and cutting the footer off
    df = pd.read_excel(df_path, header=head-1, usecols=[0,1,2,3,4,5,6,7,8,9,10,11])
    df.columns = colnames
    df = df.iloc[0:foot-head, ]
    df["state"] = df["state"].fillna(method="ffill")
    
    # Selecint the totals category that averages up all results
    totals = df[df["state"].str.contains("Total")]
    totals = totals.assign(cycle_year=year)
    
    # Dropping the totals column, assigning the year, and returning the dfs
    df = df.iloc[0:len(df)-1, ]
    df = df.assign(cycle_year=year)
    return(df, totals)

In [3]:
# Setting the file directories
main_dir = "C:/Users/TooFastDan/Documents/MD_PhD Application/Python Analysis/AAMC data"

# AAMC A-1 tables file paths for all excel files
file_list_a1 = glob.glob("C:/Users/TooFastDan/Documents/MD_PhD Application/Python Analysis/AAMC data/A-1/*.xlsx")
file_list_a1

['C:/Users/TooFastDan/Documents/MD_PhD Application/Python Analysis/AAMC data/A-1\\2012_FACTS_Table_1.xlsx',
 'C:/Users/TooFastDan/Documents/MD_PhD Application/Python Analysis/AAMC data/A-1\\2013_FACTS_Table_1.xlsx',
 'C:/Users/TooFastDan/Documents/MD_PhD Application/Python Analysis/AAMC data/A-1\\2014_FACTS_Table_1.xlsx',
 'C:/Users/TooFastDan/Documents/MD_PhD Application/Python Analysis/AAMC data/A-1\\2015_FACTS_Table_A-1.xlsx',
 'C:/Users/TooFastDan/Documents/MD_PhD Application/Python Analysis/AAMC data/A-1\\2016_FACTS_Table_A-1.xlsx',
 'C:/Users/TooFastDan/Documents/MD_PhD Application/Python Analysis/AAMC data/A-1\\2017_FACTS_Table_A-1.xlsx',
 'C:/Users/TooFastDan/Documents/MD_PhD Application/Python Analysis/AAMC data/A-1\\2018_FACTS_Table_A-1.xlsx',
 'C:/Users/TooFastDan/Documents/MD_PhD Application/Python Analysis/AAMC data/A-1\\2019_FACTS_Table_A-1.xlsx',
 'C:/Users/TooFastDan/Documents/MD_PhD Application/Python Analysis/AAMC data/A-1\\2020_FACTS_Table_A-1.xlsx',
 'C:/Users/TooFastDan/Documents/MD_PhD Application/Python Analysis/AAMC data/A-1\\2021_FACTS_Table_A-1.xlsx']

In [4]:
# Column names for every excel file
colnames1 = ["state", "school", "applications", "in state applicants", "out of state applicants", "women applicants", "men applicants", "matriculants", "in state matriculants", "out of state matriculants", "women matriculants", "men matriculants"]
colnames2 = ["state", "school", "applications", "in state applicants", "out of state applicants", "men applicants", "women applicants", "matriculants", "in state matriculants", "out of state matriculants", "men matriculants", "women matriculants"]  #changes in 2018

In [5]:
# Processing all AAMC A-1 Tables
a1_2012, totals_2012 = cycle_generator(df_path=file_list_a1[0], head=10, foot=148, colnames=colnames1, year=2012)
a1_2013, totals_2013 = cycle_generator(df_path=file_list_a1[1], head=10, foot=152, colnames=colnames1, year=2013)
a1_2014, totals_2014 = cycle_generator(df_path=file_list_a1[2], head=10, foot=153, colnames=colnames1, year=2014)
a1_2015, totals_2015 = cycle_generator(df_path=file_list_a1[3], head=9, foot=153, colnames=colnames1, year=2015)
a1_2016, totals_2016 = cycle_generator(df_path=file_list_a1[4], head=9, foot=156, colnames=colnames1, year=2016)
a1_2017, totals_2017 = cycle_generator(df_path=file_list_a1[5], head=9, foot=157, colnames=colnames1, year=2017)
a1_2018, totals_2018 = cycle_generator(df_path=file_list_a1[6], head=9, foot=161, colnames=colnames2, year=2018)
a1_2019, totals_2019 = cycle_generator(df_path=file_list_a1[7], head=9, foot=163, colnames=colnames2, year=2019)
a1_2020, totals_2020 = cycle_generator(df_path=file_list_a1[8], head=9, foot=165, colnames=colnames2, year=2020)
a1_2021, totals_2021 = cycle_generator(df_path=file_list_a1[9], head=9, foot=165, colnames=colnames2, year=2021)
display(a1_2021)
display(totals_2021)

,state,school,applications,in state applicants,out of state applicants,men applicants,women applicants,matriculants,in state matriculants,out of state matriculants,men matriculants,women matriculants,cycle_year
0,AL,Alabama-Heersink,5777.0,10.8,89.2,43.5,56.4,186.0,87.1,12.9,47.8,52.2,2021
1,AL,South Alabama,1830.0,29.3,70.7,46.2,53.7,74.0,93.2,6.8,39.2,60.8,2021
2,AR,Arkansas,2962.0,12.9,87.1,47.0,52.9,166.0,97.0,3.0,51.8,48.2,2021
3,AZ,Arizona,8634.0,10.1,89.9,45.4,54.5,118.0,84.7,15.3,45.8,54.2,2021
4,AZ,Arizona Phoenix,6598.0,13.6,86.4,46.3,53.7,118.0,53.4,46.6,49.2,50.8,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,WA,Washington State-Floyd,1755.0,55.6,44.4,44.7,55.2,80.0,91.3,8.8,50.0,50.0,2021
151,WI,MC Wisconsin,11145.0,7.4,92.6,47.1,52.8,265.0,54.7,45.3,41.9,58.1,2021
152,WI,Wisconsin,6415.0,12.1,87.9,48.5,51.4,171.0,71.3,28.7,40.4,59.6,2021
153,WV,Marshall-Edwards,2322.0,8.6,91.4,45.7,54.2,80.0,78.8,21.3,46.3,52.5,2021
154,WV,West Virginia,5061.0,4.2,95.8,50.1,49.9,112.0,57.1,42.9,49.1,50.9,2021

,state,school,applications,in state applicants,out of state applicants,men applicants,women applicants,matriculants,in state matriculants,out of state matriculants,men matriculants,women matriculants,cycle_year
155,Total,NaN,1099486.0,22.7,77.3,44.9,55.0,22666.0,60.2,39.8,44.4,55.5,2021

## Concatenating the totals for each cycle and Exporting

In [6]:
# Concatenating the totals per year and cleaning
totals = pd.concat([totals_2012, totals_2013, totals_2014, totals_2015, totals_2016, totals_2017, totals_2018, totals_2019, totals_2020, totals_2021], axis=0)
totals = totals.drop(["state", "school"], axis=1).reset_index(drop=True)
totals["applicants"] = [45266, 48014, 49480, 52550, 53042, 51680, 52777, 53371, 53030, 62443]
totals["applications"] = [636309, 690281, 731595, 781602, 830016, 816153, 849678, 896819, 906588, 1099486]
totals["matriculants"] = [19517, 20055, 20343, 20631, 21030, 21338, 21622, 21869, 22239, 22666]
totals["applications per applicant"] = totals["applications"] / totals["applicants"]
totals["matriculant applicant percent"] = (totals["matriculants"] / totals["applicants"])*100
totals = totals[["cycle_year", "applicants", "applications", "in state applicants", "out of state applicants", "women applicants", "men applicants", "matriculants", "in state matriculants", "out of state matriculants", "women matriculants", "men matriculants", 
                 "applications per applicant", "matriculant applicant percent"]]

# Exporting and displaying
display(totals)
#totals.to_excel(main_dir+"/AAMC Table A-1 Totals.xlsx", index=False)

,cycle_year,applicants,applications,in state applicants,out of state applicants,women applicants,men applicants,matriculants,in state matriculants,out of state matriculants,women matriculants,men matriculants,applications per applicant,matriculant applicant percent
0,2012,45266,636309,23.7,76.3,45.1,54.9,19517,61.2,38.8,46.4,53.6,14.057107,43.116246
1,2013,48014,690281,23.7,76.3,45.7,54.3,20055,62.0,38.0,47.2,52.8,14.376661,41.769067
2,2014,49480,731595,23.6,76.4,45.9,54.1,20343,61.3,38.7,47.8,52.2,14.785671,41.113581
3,2015,52550,781602,23.2,76.8,45.8,54.2,20631,60.3,39.7,47.8,52.2,14.873492,39.259753
4,2016,53042,830016,23.4,76.6,47.6,52.4,21030,60.6,39.4,49.8,50.2,15.648279,39.647826
5,2017,51680,816153,23.3,76.7,48.8,51.2,21338,60.7,39.3,50.7,49.3,15.792434,41.288700
6,2018,52777,849678,22.7,77.3,49.7,50.3,21622,60.6,39.4,51.6,48.3,16.099399,40.968604
7,2019,53371,896819,22.4,77.6,51.1,48.8,21869,60.6,39.4,52.4,47.6,16.803489,40.975436
8,2020,53030,906588,22.9,77.1,51.9,48.0,22239,60.3,39.7,53.6,46.2,17.095757,41.936640
9,2021,62443,1099486,22.7,77.3,55.0,44.9,22666,60.2,39.8,55.5,44.4,17.607834,36.298704

## Concatenating the cycle data for each year and Exporting

In [7]:
# Concatenating cycles
a1 = pd.concat([a1_2012, a1_2013, a1_2014, a1_2015, a1_2016, a1_2017, a1_2018, a1_2019, a1_2020, a1_2021], axis=0)
a1 = a1.reset_index(drop=True)

# Getting rid of numbers in the school names and replacing redundant names for med schools that changed their names over time
schools = []
for school in a1["school"]:
    new_school = ''.join([i for i in school if not i.isdigit()])
    schools.append(new_school)
a1["school"] = schools
a1["school"] = a1["school"].replace({"Alabama-Heersink":"Alabama", "Kaiser Permanente-Tyson":"Kaiser Permanente", "Central Florida":"UCF", "GRU MC Georgia":"MC Georgia Augusta", "MC Georgia":"MC Georgia Augusta", "Chicago Med-Franklin":"Chicago Med Franklin",
                                    "Massachusetts-Chan":"Massachusetts", "Mayo-Alix":"Mayo", "St Louis":"Saint Louis", "UMDNJ New Jersey":"Rutgers New Jersey", "UMDNJ-RW Johnson":"Rutgers-RW Johnson", "SHU-Hackensack Meridian":"Hackensack Meridian",
                                    "Nevada":"Nevada Reno", "Columbia":"Columbia-Vagelos", "Yeshiva Einstein":"Einstein", "Hofstra North Shore-LIJ":"Zucker Hofstra Northwell", "Hofstra Northwell":"Zucker Hofstra Northwell", "Stony Brook":"Renaissance Stony Brook",
                                    "Mount Sinai":"Mount Sinai-Icahn", "New York University":"NYU-Grossman", "Buffalo":"Buffalo-Jacobs", "Case Western":"Case Western Reserve", "Jefferson":"Jefferson-Kimmel", "Commonwealth":"Geisinger Commonwealth",
                                    "Temple":"Temple-Katz", "South Carolina":"South Carolina Columbia", "UT HSC San Antonio":"UT San Antonio-Long", "UT Houston":"UT Houston-McGovern", "Vermont":"Vermont-Larner"})
a1 = a1[["cycle_year", "state", "school", "applications", "in state applicants", "out of state applicants", "women applicants", "men applicants", "matriculants", "in state matriculants", "out of state matriculants", "women matriculants", "men matriculants"]]

# Exporting and displaying
display(a1)
#a1.to_excel(main_dir+"/AAMC Table A-1 Merged.xlsx", index=False)

,cycle_year,state,school,applications,in state applicants,out of state applicants,women applicants,men applicants,matriculants,in state matriculants,out of state matriculants,women matriculants,men matriculants
0,2012,AL,Alabama,2599,15.4,84.6,41.9,58.1,176.0,86.4,13.6,39.8,60.2
1,2012,AL,South Alabama,1309,27.3,72.7,41.6,58.4,74.0,90.5,9.5,37.8,62.2
2,2012,AR,Arkansas,2148,14.8,85.2,38.9,61.1,166.0,86.7,13.3,36.7,63.3
3,2012,AZ,Arizona,5809,23.8,76.2,43.2,56.8,195.0,72.3,27.7,50.8,49.2
4,2012,CA,Loma Linda,5217,41.4,58.6,45.0,55.0,168.0,44.6,55.4,45.2,54.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,2021,WA,Washington State-Floyd,1755.0,55.6,44.4,55.2,44.7,80.0,91.3,8.8,50.0,50.0
1466,2021,WI,MC Wisconsin,11145.0,7.4,92.6,52.8,47.1,265.0,54.7,45.3,58.1,41.9
1467,2021,WI,Wisconsin,6415.0,12.1,87.9,51.4,48.5,171.0,71.3,28.7,59.6,40.4
1468,2021,WV,Marshall-Edwards,2322.0,8.6,91.4,54.2,45.7,80.0,78.8,21.3,52.5,46.3
1469,2021,WV,West Virginia,5061.0,4.2,95.8,49.9,50.1,112.0,57.1,42.9,50.9,49.1

# **Table B-8 (MD/PhD Schools)**

## Setting the main file directory, importing, and cleaning every Table B-8

In [8]:
# AAMC B-8 tables file paths for all excel files
file_list_b8 = glob.glob("C:/Users/TooFastDan/Documents/MD_PhD Application/Python Analysis/AAMC data/B-8/*.xlsx")
file_list_b8

['C:/Users/TooFastDan/Documents/MD_PhD Application/Python Analysis/AAMC data/B-8\\2012_FACTS_Table_33.xlsx',
 'C:/Users/TooFastDan/Documents/MD_PhD Application/Python Analysis/AAMC data/B-8\\2013_FACTS_Table_33.xlsx',
 'C:/Users/TooFastDan/Documents/MD_PhD Application/Python Analysis/AAMC data/B-8\\2014_FACTS_Table_33.xlsx',
 'C:/Users/TooFastDan/Documents/MD_PhD Application/Python Analysis/AAMC data/B-8\\2015_FACTS_Table_B-8.xlsx',
 'C:/Users/TooFastDan/Documents/MD_PhD Application/Python Analysis/AAMC data/B-8\\2016_FACTS_Table_B-8.xlsx',
 'C:/Users/TooFastDan/Documents/MD_PhD Application/Python Analysis/AAMC data/B-8\\2017_FACTS_Table_B-8.xlsx',
 'C:/Users/TooFastDan/Documents/MD_PhD Application/Python Analysis/AAMC data/B-8\\2018_FACTS_Table_B-8.xlsx',
 'C:/Users/TooFastDan/Documents/MD_PhD Application/Python Analysis/AAMC data/B-8\\2019_FACTS_Table_B-8.xlsx',
 'C:/Users/TooFastDan/Documents/MD_PhD Application/Python Analysis/AAMC data/B-8\\2020_FACTS_Table_B-8.xlsx',
 'C:/Users/TooFastDan/Documents/MD_PhD Application/Python Analysis/AAMC data/B-8\\2021_FACTS_Table_B-8.xlsx']

In [9]:
# Processing all AAMC B-8 Tables
b8_2012, total_b_2012 = cycle_generator(df_path=file_list_b8[0], head=10, foot=148, colnames=colnames1, year=2012)
b8_2013, total_b_2013 = cycle_generator(df_path=file_list_b8[1], head=10, foot=152, colnames=colnames1, year=2013)
b8_2014, total_b_2014 = cycle_generator(df_path=file_list_b8[2], head=10, foot=152, colnames=colnames1, year=2014)
b8_2015, total_b_2015 = cycle_generator(df_path=file_list_b8[3], head=9, foot=152, colnames=colnames1, year=2015)
b8_2016, total_b_2016 = cycle_generator(df_path=file_list_b8[4], head=9, foot=155, colnames=colnames1, year=2016)
b8_2017, total_b_2017 = cycle_generator(df_path=file_list_b8[5], head=9, foot=157, colnames=colnames1, year=2017)
b8_2018, total_b_2018 = cycle_generator(df_path=file_list_b8[6], head=9, foot=161, colnames=colnames2, year=2018)
b8_2019, total_b_2019 = cycle_generator(df_path=file_list_b8[7], head=9, foot=163, colnames=colnames2, year=2019)
b8_2020, total_b_2020 = cycle_generator(df_path=file_list_b8[8], head=9, foot=165, colnames=colnames2, year=2020)
b8_2021, total_b_2021 = cycle_generator(df_path=file_list_b8[9], head=9, foot=165, colnames=colnames2, year=2021)
display(b8_2021)
display(total_b_2021)

,state,school,applications,in state applicants,out of state applicants,men applicants,women applicants,matriculants,in state matriculants,out of state matriculants,men matriculants,women matriculants,cycle_year
0,AL,Alabama-Heersink,293.0,3.4,96.6,53.2,46.8,10.0,10.0,90.0,50.0,50.0,2021
1,AL,South Alabama,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2021
2,AR,Arkansas,58.0,19.0,81.0,48.3,51.7,4.0,100.0,0.0,50.0,50.0,2021
3,AZ,Arizona,145.0,9.7,90.3,48.3,51.7,5.0,40.0,60.0,60.0,40.0,2021
4,AZ,Arizona Phoenix,92.0,10.9,89.1,44.6,55.4,1.0,0.0,100.0,100.0,0.0,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,WA,Washington State-Floyd,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2021
151,WI,MC Wisconsin,248.0,9.3,90.7,50.0,49.6,8.0,37.5,62.5,50.0,50.0,2021
152,WI,Wisconsin,394.0,7.9,92.1,54.3,45.4,11.0,0.0,100.0,54.5,45.5,2021
153,WV,Marshall-Edwards,30.0,6.7,93.3,40.0,56.7,2.0,0.0,100.0,0.0,50.0,2021
154,WV,West Virginia,65.0,10.8,89.2,55.4,43.1,4.0,25.0,75.0,75.0,25.0,2021

,state,school,applications,in state applicants,out of state applicants,men applicants,women applicants,matriculants,in state matriculants,out of state matriculants,men matriculants,women matriculants,cycle_year
155,Total,NaN,33288.0,13.8,86.2,52.4,47.4,750.0,25.5,74.5,49.7,50.1,2021

## Concatenating the totals for each cycle and Exporting

In [10]:
# Concatenating the totals per year
total_b = pd.concat([total_b_2012, total_b_2013, total_b_2014, total_b_2015, total_b_2016, total_b_2017, total_b_2018, total_b_2019, total_b_2020, total_b_2021], axis=0)
total_b = total_b.drop(["state", "school"], axis=1).reset_index(drop=True)
total_b["applicants"] = [1853, 1937, 1891, 1887, 1936, 1858, 1855, 1813, 1855, 2091]
total_b["applications per applicant"] = total_b["applications"] / total_b["applicants"]
total_b["matriculant applicant percent"] = (total_b["matriculants"] / total_b["applicants"])*100
total_b = total_b[["cycle_year", "applicants", "applications", "in state applicants", "out of state applicants", "women applicants", "men applicants", "matriculants", "in state matriculants", "out of state matriculants", "women matriculants", "men matriculants", 
                   "applications per applicant", "matriculant applicant percent"]]

# Exporting and displaying
display(total_b)
#total_b.to_excel(main_dir+"/AAMC Table B-8 Totals.xlsx", index=False)

,cycle_year,applicants,applications,in state applicants,out of state applicants,women applicants,men applicants,matriculants,in state matriculants,out of state matriculants,women matriculants,men matriculants,applications per applicant,matriculant applicant percent
0,2012,1853,22800.0,15.7,84.3,37.3,62.7,635.0,29.3,70.7,36.9,63.1,12.304371,34.268753
1,2013,1937,23919.0,16.8,83.2,35.6,64.4,609.0,28.9,71.1,36.5,63.5,12.348477,31.440372
2,2014,1891,23488.0,15.6,84.4,36.8,63.2,626.0,28.1,71.9,39.0,61.0,12.420941,33.104178
3,2015,1887,24810.0,15.0,85.0,36.2,63.7,626.0,27.3,72.7,39.1,60.9,13.147854,33.174351
4,2016,1936,26232.0,15.2,84.8,41.4,58.3,649.0,27.1,72.9,43.1,56.9,13.549587,33.522727
5,2017,1858,24664.0,15.0,85.0,43.5,56.4,646.0,27.7,72.3,44.1,55.7,13.274489,34.768568
6,2018,1855,25794.0,14.9,85.1,44.6,55.2,672.0,29.0,71.0,46.4,53.6,13.905121,36.226415
7,2019,1813,26529.0,13.9,86.1,47.6,52.3,708.0,26.1,73.9,50.0,49.9,14.632653,39.051296
8,2020,1855,28327.0,14.1,85.9,48.7,51.3,701.0,23.0,77.0,51.4,48.6,15.270620,37.789757
9,2021,2091,33288.0,13.8,86.2,47.4,52.4,750.0,25.5,74.5,50.1,49.7,15.919656,35.868006

## Concatenating the cycle data for each year and Exporting

In [11]:
# Concatenating cycles
b8 = pd.concat([b8_2012, b8_2013, b8_2014, b8_2015, b8_2016, b8_2017, b8_2018, b8_2019, b8_2020, b8_2021], axis=0)
b8 = b8.reset_index(drop=True)

# Getting rid of numbers in the school names and replacing redundant names for med schools that changed their names over time
schools = []
for school in b8["school"]:
    new_school = ''.join([i for i in school if not i.isdigit()])
    schools.append(new_school)
b8["school"] = schools
b8["school"] = b8["school"].replace({"Alabama-Heersink":"Alabama", "Kaiser Permanente-Tyson":"Kaiser Permanente", "Central Florida":"UCF", "GRU MC Georgia":"MC Georgia Augusta", "MC Georgia":"MC Georgia Augusta", "Chicago Med-Franklin":"Chicago Med Franklin",
                                    "Massachusetts-Chan":"Massachusetts", "Mayo-Alix":"Mayo", "St Louis":"Saint Louis", "UMDNJ New Jersey":"Rutgers New Jersey", "UMDNJ-RW Johnson":"Rutgers-RW Johnson", "SHU-Hackensack Meridian":"Hackensack Meridian",
                                    "Nevada":"Nevada Reno", "Columbia":"Columbia-Vagelos", "Yeshiva Einstein":"Einstein", "Hofstra North Shore-LIJ":"Zucker Hofstra Northwell", "Hofstra Northwell":"Zucker Hofstra Northwell", "Stony Brook":"Renaissance Stony Brook",
                                    "Mount Sinai":"Mount Sinai-Icahn", "New York University":"NYU-Grossman", "Buffalo":"Buffalo-Jacobs", "Case Western":"Case Western Reserve", "Jefferson":"Jefferson-Kimmel", "Commonwealth":"Geisinger Commonwealth",
                                    "Temple":"Temple-Katz", "South Carolina":"South Carolina Columbia", "UT HSC San Antonio":"UT San Antonio-Long", "UT Houston":"UT Houston-McGovern", "Vermont":"Vermont-Larner"})
b8 = b8[["cycle_year", "state", "school", "applications", "in state applicants", "out of state applicants", "women applicants", "men applicants", "matriculants", "in state matriculants", "out of state matriculants", "women matriculants", "men matriculants"]]

# Exporting and displaying
display(b8)
#b8.to_excel(main_dir+"/AAMC Table B-8 Merged.xlsx", index=False)

,cycle_year,state,school,applications,in state applicants,out of state applicants,women applicants,men applicants,matriculants,in state matriculants,out of state matriculants,women matriculants,men matriculants
0,2012,AL,Alabama,280.0,2.9,97.1,35.7,64.3,8.0,12.5,87.5,37.5,62.5
1,2012,AL,South Alabama,10.0,30.0,70.0,40.0,60.0,0.0,0.0,0.0,0.0,0.0
2,2012,AR,Arkansas,28.0,17.9,82.1,39.3,60.7,2.0,50.0,50.0,0.0,100.0
3,2012,AZ,Arizona,83.0,16.9,83.1,37.3,62.7,2.0,100.0,0.0,50.0,50.0
4,2012,CA,Loma Linda,67.0,46.3,53.7,47.8,52.2,3.0,66.7,33.3,0.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1462,2021,WA,Washington State-Floyd,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1463,2021,WI,MC Wisconsin,248.0,9.3,90.7,49.6,50.0,8.0,37.5,62.5,50.0,50.0
1464,2021,WI,Wisconsin,394.0,7.9,92.1,45.4,54.3,11.0,0.0,100.0,45.5,54.5
1465,2021,WV,Marshall-Edwards,30.0,6.7,93.3,56.7,40.0,2.0,0.0,100.0,50.0,0.0
1466,2021,WV,West Virginia,65.0,10.8,89.2,43.1,55.4,4.0,25.0,75.0,25.0,75.0